body
{
	min-width: 500px;
	margin-top: 65px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 38px;
	background-color: floralwhite;
}

h2
{
	margin: 0;
	font-size: 30px;
	font-family: Cookie, sans-serif;
}

@font-face
{
	font-family: Cookie;
	src: url('../fonts/cookie/Cookie.ttf');
}

@font-face
{
	font-family: BasicTitle;
	src: url('../fonts/basictitle/basictitlefont.ttf');
}

/* HEADER AND FOOTER */
.fixed-header, .fixed-footer
{
	min-width: 600px;
	width: 100%;
	position: fixed;
	background: #292c2f;
	color: #ffffff;
}

.fixed-header
{
	display: inline-block;
	top: 0;
}

.fixed-footer
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	bottom: 0;
}

.container
{
	margin: auto;
	width: 90%;
}

nav a
{
	float: right;
	color: #ffffff;
	text-decoration: none;
	padding: 7px 20px;
	display: inline-block;
	font-family: BasicTitle, sans-serif;
	font-size: 20px;
	margin-top: 18px;
}

nav a:hover
{
	transition: 0.4s;
	color: #5383d3;
}

.container h1
{
	float: left;
	margin: 15px;
	font-family: Cookie, sans-serif;
}

span
{
	color: #5383d3;
}

a
{
	color: #ffffff;
	text-decoration: none;
}

/* LOGIN */

#global h1
{
	font-size: 100px;
	font-family: Cookie, sans-serif;
}

button
{
	background-color: #5383d3;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

label {
	color: white;
}

#page-table
{
	height: 100%;
	width: 100%;
	border-collapse: collapse;
}

#page-td
{
	padding: 0;
	height: 100%;
	vertical-align: middle;
}

#global
{
	padding: 80px;
	width: 400px;
	height: 350px;
	margin: 20px auto;
	text-align: center;
	border-radius: 50%;
	border: 2px solid black;
	background: url(../img/login-background.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.cancelbtn
{
	margin: 0;
	width: auto;
	background-color: #f44336;
}

span.pwd
{
	float: right;
	color: #292c2f;
	padding-top: 16px;
}

.form-container
{
	padding: 16px;
}

.modal
{
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modal-content
{
	width: 20%;
	min-width: 250px;
	max-width: 800px;
	border: 1px solid #888;
	background-color: #292c2f;
	margin: 120px auto auto auto;
	border: 1px solid black;
}

.close
{
	top: 0;
	right: 25px;
	color: #ffffff;
	font-size: 35px;
	font-weight: bold;
	position: absolute;
}

.close:hover, .close:focus
{
	color: red;
	cursor: pointer;
}

input[type=text], input[type=password]
{
	width: 100%;
	margin: 8px 0;
	padding: 12px 20px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.msg-flash
{
	margin-top: 65px;
	position: absolute;
	top: 0;
	width: 100%;
	padding: 20px 0px;
	text-align: center;
	background: url("../img/close_cross.svg") right 60px center no-repeat;
	background-size: 15px;
}

.msg-flash:hover
{
	cursor: pointer;
}

.success
{
	background-color: #cefc93;
	border-bottom: 1px solid #9bdb37;
}

.alert
{
	color: white;
	background-color: #fc9f93;
	border-bottom: 1px solid #db4a37;
}

.info
{
	color: white;
	background-color: #fcce93;
	border-bottom: 1px solid #db9037;
}

.success, .alert, .info
{
	opacity: 0.92;
}

/* 404 */

.middle
{
	margin-top: 65px;
	width: 100%;
	text-align: center;
	font-size: 20px;
}

.middle img
{
	min-width: 400px;
	width: 40%;
	height: auto;
}

.middle h1
{
	padding-top: 50px;
}

/* HOME */

#capt-container {
	background-repeat: repeat;
	padding: 10px;
	border: 1px solid #fff;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	width: 200px;
	height: auto;
	min-height: 337px;
	float: right;
	border: 1px solid black;
}

#mini-picture {
	width: 200px;
	height: auto;
	margin-bottom: 10px;
}

#mini-picture:hover {
	opacity: 0.5;
	transition: opacity 0.3s;
}

#home-global
{
	width: auto;
	padding: 10px;
	margin-top: 100px;
	margin-left: 50px;
	margin-right: 50px;
}

.home-container, .warning
{
	overflow: hidden;
	text-align: center;
	width: auto;
}

.home-container .col
{
	float: left;
	width: 100%;
}

#rates {
	padding: 20px;
	color: black;
}

button
{
	font-size: 12px;
	color: #210021;
	padding: 10px 20px;
	border-radius: 4px;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 225px;
}

video, canvas
{
	width: 400px;
	height: 300px;
	border: 2px solid black;
	position: relative;
}

#overlays {
	height: auto;
	width: 100%;
}

#overlay {
	margin-top: 30px;
	max-height: 200px;
	width: auto;
	border: 0;
	background-size: 150px auto;
}

.grayscale
{
	filter: grayscale(1);
}

.sepia
{
	filter: sepia(0.8);
}

.blur
{
	filter: blur(3px);
}

.brightness
{
	filter: brightness(0.3);
}

.contrast
{
	filter: contrast(0.5);
}

.hue-rotate
{
	filter: hue-rotate(90deg);
}

.hue-rotate2
{
	filter: hue-rotate(180deg);
}

.hue-rotate3
{
	filter: hue-rotate(270deg);
}

.saturate
{
	filter: saturate(10);
}

.invert
{
	filter: invert(1);
}

/* PROFILE */

.profile-pic {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 0px;
	height: 200px;
	width: auto;
}

.profile-pic:hover {
	opacity: 0.5;
	transition: opacity 0.3s;
}

/* GALLERY */
.gallery-item {
	background-color: black;
}
