div.img {
	border: 1px solid #ccc;
	padding: 10px;
	background-color: #292c2f;
}

div.img:hover {
	border: 1px solid #777;
}

div.img img {
	width: 100%;
	height: auto;
}

div.DESC {
	padding: 15px;
	text-align: center;
}

* {
	box-sizing: border-box;
}

.responsive {
	padding: 0 6px;
	float: left;
	width: 24.99999%;
	margin-bottom: 40px;
}

@media only screen and (max-width: 1000px) {
	.responsive {
		width: 49.99999%;
		margin: 6px 0;
	}
}

@media only screen and (max-width: 500px) {
	.responsive {
		width: 100%;
	}
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.badge {
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	background-color: #9bdb37;
	color: #292c2f;
}
